.subnote {
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
}

code {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
